.orders-list {
    width: 80%;
    height: 600px;
    margin: 0 10%;
    border: 1px solid rgba(140, 140, 140, .35);
    overflow: auto;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 6px darkgray;
}

.orders-list-header {
    padding-bottom: 8px;
    margin-top: 8px;
    border-bottom: 1px solid rgba(140, 140, 140, .35);
    font-size: 25px;
}
