.layout {
    height: 100%;
    background-image: url("../../assets/images/login-bg.jpg") !important;
}

.layout-content {
    height: auto;
    padding: 7.9% 39%;
}

.layout-footer {
    background-color: transparent !important;
}
