.staff-list {
    width: 230px;
    height: 600px;
    padding: 0 20px;
    border: 1px solid rgba(140, 140, 140, .35);
    overflow: auto;
    background-color: white;
    box-shadow: 2px 2px 4px darkgray;
}

.staff-item {
    cursor: pointer;
}

#footer {
    margin-top: -7px;
}
