#info-card {
    width: 800px;
    height: 600px;
    margin-left: 250px;
    box-shadow: 2px 2px 4px darkgray;
}

#avatar {
    width: 200px;
    height: 200px;
}

.return-button {
    float: left;
}

.information {
    margin-top: 20px;
}

.edit-info-button {
    margin-left: 20px;
}
