.primary-page-avatar {
    padding: 0 7px;
    margin: 20px 8px;
}

.avatar {
    cursor: pointer;
}

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, .3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.welcome-text {
    margin-left: 20px;
    color: white;
    user-select: none;
}

.site-layout-background > div {
    margin-left: 30px;
}
