.login-form {
    max-width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

.login-form-forgot {
    float: right;
    margin-top: -6px;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
    margin-top: -10px;
}
