<template>
  <view class="wrap">
    <view class="item" :id="'item' + index" v-for="(item, index) in dishlist" :key="index">
      <view class="box">
        <image class="item-image" :src="item.image"></image>
        <view class="inf">
          <view class="item-name">{{ item.name }}</view>
          <view class="item-price">
            <text class="price">￥</text>
            <text class="price">{{ item.price }}</text>
          </view>
          <text>{{ item.num }}份</text>
        </view>
      </view>
    </view>
    <view class="bottom-total">
      <view class="bottom-row">
        <text class="total-text">合计:￥ </text>
        <text class="total-price">{{ totalMoney }}</text>
        <button class="total-button" bindtap="toBuy" formType="submit" @click="updateOrder">
          确认付款
        </button>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        totalMoney: "",
        tableId: "",
        dishlist: [],
        dishesId: [],
        dishesCounts: [],
      };
    },
    onLoad(options) {
      this.tableId = options.tableId;
      this.totalMoney = options.totalMoney;
      this.dishlist = getApp().globalData.dishlist;
      console.log(this.dishlist);
    },
    onReady() {
      this.getList();
    },
    methods: {
      updateOrder() {
        this.$sendRequest({
          url: "OrderDish/take_order/",
          method: 'POST',
          data: {
            'table': this.tableId,
            'sum': this.totalMoney,
            'dishes_id': this.dishesId,
            'dishes_counts': this.dishesCounts,
          },
          success: (response) => {
            if (response.data === 'succeed') {
                uni.showToast({
                  icon: "none",
                  title: "成功点餐",
                })
            }
          }
        });
      },
      getList() {
        for (let i = 0; i < this.dishlist.length; i++) {
          let id = this.dishlist[i].id;
          let count = this.dishlist[i].num;
          // 如果不存在height2，意味着数据循环已经到了最后一个，设置左边菜单为最后一项即可
          this.dishesId.push(id)
          this.dishesCounts.push(count)
        }
        console.log(this.dishesId)
        console.log(this.dishesCounts)
      }
    },
  };
</script>

<style lang="scss" scoped>
  .wrap {
    height: calc(100vh);
    /* #ifdef H5 */
    height: calc(100vh - var(--window-top));
    /* #endif */
    display: flex;
    flex-direction: column;
  }

  .item {
    margin-bottom: 30rpx;
    background-color: #fff;
    padding: 16rpx;
    border-radius: 8rpx;
  }

  .item:last-child {
    min-height: 100vh;
  }

  .box {
    width: 100%;
    display: flex;
  }

  .item-image {
    width: 130rpx;
    height: 150rpx;
    float: left;
  }

  .inf {
    margin-left: 20rpx;
    width: 35%;
  }

  .item-name {
    font-weight: normal;
    font-size: 30rpx;
    color: $u-main-color;
  }

  .item-price {
    margin-top: 30rpx;
  }

  .price {
    font-weight: normal;
    font-size: 40rpx;
    color: #fcbd71;
  }

  .bottom-total {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 120rpx;
    line-height: 120rpx;
    background: white;
  }

  .total-button {
    background-color: #f44336;
    position: fixed;
    right: 0;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 30rpx;
    border-radius: 0rpx;
    width: 30%;
    height: 120rpx;
    line-height: 120rpx;
  }

  .total-text {
    font-size: 50rpx;
    color: $u-main-color;
    font-weight: bold;
  }

  .total-price {
    font-size: 50rpx;
    color: #fa3534;
    font-weight: bold;
  }
</style>
